.themeToggle {
  /* position: fixed;
  bottom: 2rem;
  left: 2rem; */
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var(--surface);
  border: 1px solid var(--border);
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transition: all 0.3s ease;
  /* z-index: 1000; */
}

.themeToggle:hover {
  transform: scale(1.1);
  background: var(--primary-500);
  color: var(--neutral-white);
}